{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Reset Password Done{% endblock title %}

{% block content %}

    <div id="account-wrapper">
        <div class="action_account">
            <h1 class="text-center">Email Sent
            <img src="{% static 'images/Yes_Check_Circle.png' %}" alt="yes" width="50" height="50">
            </h1>
            <br>
            <form method="post" action="{% url 'account_reset_password_done' %}">
                {% csrf_token %}  
                <p>We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.</p>
            </form>
        </div>
    </div>
        
{% endblock content %}