{% extends "_base.html" %}
{% load crispy_forms_tags %}

{% block title %}Reset Password{% endblock title %}

{% block content %}

    <div id="account-wrapper">
        <div class="action_account">
            <h1 class="text-center">Reset Password</h1>
            <br>
            <form method="post" action="{% url 'account_reset_password' %}">
                {% csrf_token %}  

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <strong>Error:</strong> Wrong email!!
                    </div>
                {% endif %}

                <div class="mb-3">
                    <label class="form-label">Enter Your Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>

                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="submit">Send Reset Email</button>
                </div>
                
            </form>
        </div>
    </div>
        
{% endblock content %}